<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Chinook_SqlServer" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=SSPI;Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="Chinook_SqlServer_AutoIncrement" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Chinook_AutoIncrement;Integrated Security=SSPI;Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="Chinook_SqlServerCompact" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_SqlServerCompact.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe" />
    <add name="Chinook_SqlServerCompact_AutoIncrement" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_SqlServerCompact_AutoIncrementPKs.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe" />
    <add name="Chinook_MySql" connectionString="Server=localhost;Database=Chinook;Uid=root;Pwd=p4ssw0rd;" />
    <add name="Chinook_MySql_AutoIncrement" connectionString="Server=localhost;Database=Chinook;Uid=root;Pwd=p4ssw0rd;" />
    <add name="Chinook_Oracle" connectionString="Provider=msdaora;Data Source=xe;User Id=chinook;Password=p4ssw0rd;" />
    <add name="Chinook_Sqlite" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_Sqlite.sqlite" providerName="Devart.Data.SQLite" />
    <add name="Chinook_Sqlite_AutoIncrement" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_Sqlite_AutoIncrementPKs.sqlite" providerName="Devart.Data.SQLite" />
    <add name="Chinook_EffiProz" connectionString="Connection Type=Memory; Initial Catalog=..\..\..\ChinookDatabase\DataSources\Chinook_EffiProz.sql; User=sa; Password=;" />
    <add name="Chinook_EffiProz_AutoIncrement" connectionString="Connection Type=Memory; Initial Catalog=..\..\..\ChinookDatabase\DataSources\Chinook_EffiProz_AutoIncrementPKs.sql; User=sa; Password=;" />
    <add name="ChinookEntities" connectionString="metadata=res://*/Chinook.csdl|res://*/Chinook.ssdl|res://*/Chinook.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Chinook;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <add name="dotConnect for SQLite" invariant="Devart.Data.SQLite" description="Devart dotConnect for SQLite" type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite, Version=4.2.96.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
</configuration>