<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ChinookSqlServer" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=SSPI;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add name="ChinookSqlServer_AutoIncrement" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Chinook_AutoIncrement;Integrated Security=SSPI;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add name="ChinookSqlServerCompact" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_SqlServerCompact.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe"/>
    <add name="ChinookSqlServerCompact_AutoIncrement" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_SqlServerCompact_AutoIncrementPKs.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe"/>
    <add name="ChinookMySql" connectionString="Server=localhost;Database=Chinook;Uid=root;Pwd=p4ssw0rd;"/>
    <add name="ChinookMySql_AutoIncrement" connectionString="Server=localhost;Database=Chinook;Uid=root;Pwd=p4ssw0rd;"/>
    <add name="ChinookOracle" connectionString="Provider=msdaora;Data Source=xe;User Id=chinook;Password=p4ssw0rd;"/>
    <add name="ChinookSqlite" connectionString="Data Source=..\..\..\ChinookDatabase\DataSources\Chinook_Sqlite.sqlite" providerName="Devart.Data.SQLite"/>
    <add name="ChinookEntities" connectionString="metadata=res://*/Chinook.csdl|res://*/Chinook.ssdl|res://*/Chinook.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BKNRVC1\sqlexpress;Initial Catalog=Chinook;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
