<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.5.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.1" targetFramework="net45" />
  <package id="odp.net.x86" version="112.2.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.82.0" targetFramework="net45" />
</packages>