<#@ template hostspecific="True"#>
<#@ output extension="sql" #>
<#
var options = new { 
					AutoIncrement = false,
					ServerName = "EffiProz",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sql"
				  };
#>
<#@ include file="..\..\_T4Templates\CreateDB_EffiProz.ttinclude" #>
