<#@ template hostspecific="True"#>
<#@ output extension="sql" #>
<#
var options = new { 
					AutoIncrement = false,
					ServerName = "EffiProz",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sql",
					DataSource = Path.Combine(Path.GetDirectoryName(Host.TemplateFile), @"..\_Xml\ChinookData.xml")
				  };
#>
<#@ include file="..\..\_T4Templates\CreateDB_EffiProz.ttinclude" #>
