
/*******************************************************************************
   Chinook Database
   Script: CreateDB.sql - Creates and populates the Chinook database.
   DB Server: SQL Server
   Version: 1.0
   License: http://www.codeplex.com/ChinookDatabase/license
********************************************************************************/

IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'Chinook') DROP DATABASE [Chinook];
GO

CREATE DATABASE [Chinook];
GO

USE Chinook;

/*******************************************************************************
   Create Tables
********************************************************************************/
CREATE TABLE Genre 
( 
    GenreId INTEGER NOT NULL IDENTITY,
    Name NVARCHAR(120),
    PRIMARY KEY(GenreId)
);
GO

CREATE TABLE MediaType 
( 
    MediaTypeId INTEGER NOT NULL IDENTITY,
    Name NVARCHAR(120),
    PRIMARY KEY(MediaTypeId)
);
GO

CREATE TABLE Artist 
( 
    ArtistId INTEGER NOT NULL IDENTITY,
    Name NVARCHAR(120),
    PRIMARY KEY(ArtistId)
);
GO

CREATE TABLE Album 
( 
    AlbumId INTEGER NOT NULL IDENTITY,
    Title NVARCHAR(80) NOT NULL,
    ArtistId INTEGER NOT NULL,
    PRIMARY KEY(AlbumId)
);
GO

CREATE TABLE Track 
( 
    TrackId INTEGER NOT NULL IDENTITY,
    Name NVARCHAR(180) NOT NULL,
    AlbumId INTEGER,
    MediaTypeId INTEGER NOT NULL,
    GenreId INTEGER,
    Composer NVARCHAR(160),
    Milliseconds INTEGER NOT NULL,
    Bytes INTEGER,
    UnitPrice DECIMAL NOT NULL,
    PRIMARY KEY(TrackId)
);
GO

CREATE TABLE Customer 
( 
    CustomerId INTEGER NOT NULL IDENTITY,
    FirstName NVARCHAR(40) NOT NULL,
    LastName NVARCHAR(20) NOT NULL,
    Company NVARCHAR(80),
    Address NVARCHAR(70),
    City NVARCHAR(40),
    State NVARCHAR(40),
    Country NVARCHAR(40),
    PostalCode NVARCHAR(10),
    Phone NVARCHAR(24),
    Fax NVARCHAR(24),
    Email NVARCHAR(60) NOT NULL,
    PRIMARY KEY(CustomerId)
);
GO

CREATE TABLE Employee 
( 
    EmployeeId INTEGER NOT NULL IDENTITY,
    LastName NVARCHAR(20) NOT NULL,
    FirstName NVARCHAR(20) NOT NULL,
    Title NVARCHAR(30),
    ReportsTo INTEGER,
    BirthDate DATETIME,
    HireDate DATETIME,
    Address NVARCHAR(70),
    City NVARCHAR(40),
    State NVARCHAR(40),
    Country NVARCHAR(40),
    PostalCode NVARCHAR(10),
    Phone NVARCHAR(24),
    Fax NVARCHAR(24),
    Email NVARCHAR(60),
    PRIMARY KEY(EmployeeId)
);
GO

CREATE TABLE Invoice 
( 
    InvoiceId INTEGER NOT NULL IDENTITY,
    CustomerId INTEGER NOT NULL,
    EmployeeId INTEGER,
    InvoiceDate DATETIME NOT NULL,
    BillingAddress NVARCHAR(70),
    BillingCity NVARCHAR(40),
    BillingState NVARCHAR(40),
    BillingCountry NVARCHAR(40),
    BillingPostalCode NVARCHAR(10),
    PRIMARY KEY(InvoiceId)
);
GO

CREATE TABLE InvoiceLine 
( 
    InvoiceLineId INTEGER NOT NULL IDENTITY,
    InvoiceId INTEGER NOT NULL,
    TrackId INTEGER NOT NULL,
    UnitPrice DECIMAL NOT NULL,
    Quantity DECIMAL NOT NULL,
    PRIMARY KEY(InvoiceLineId)
);
GO


/*******************************************************************************
   Create Foreign Keys
********************************************************************************/
ALTER TABLE Album ADD FOREIGN KEY (ArtistId) REFERENCES Artist(ArtistId);
GO
ALTER TABLE Track ADD FOREIGN KEY (AlbumId) REFERENCES Album(AlbumId);
GO
ALTER TABLE Track ADD FOREIGN KEY (MediaTypeId) REFERENCES MediaType(MediaTypeId);
GO
ALTER TABLE Track ADD FOREIGN KEY (GenreId) REFERENCES Genre(GenreId);
GO
ALTER TABLE Employee ADD FOREIGN KEY (ReportsTo) REFERENCES Employee(EmployeeId);
GO
ALTER TABLE Invoice ADD FOREIGN KEY (CustomerId) REFERENCES Customer(CustomerId);
GO
ALTER TABLE Invoice ADD FOREIGN KEY (EmployeeId) REFERENCES Employee(EmployeeId);
GO
ALTER TABLE InvoiceLine ADD FOREIGN KEY (TrackId) REFERENCES Track(TrackId);
GO
ALTER TABLE InvoiceLine ADD FOREIGN KEY (InvoiceId) REFERENCES Invoice(InvoiceId);
GO

/*******************************************************************************
   Create Indexes
********************************************************************************/
CREATE INDEX IPK_Genre ON Genre(GenreId);
GO
CREATE INDEX IPK_MediaType ON MediaType(MediaTypeId);
GO
CREATE INDEX IPK_Artist ON Artist(ArtistId);
GO
CREATE INDEX IPK_ProductItem ON Album(AlbumId);
GO
CREATE INDEX IPK_Track ON Track(TrackId);
GO
CREATE INDEX IPK_Customer ON Customer(CustomerId);
GO
CREATE INDEX IPK_Employee ON Employee(EmployeeId);
GO
CREATE INDEX IPK_Invoice ON Invoice(InvoiceId);
GO
CREATE INDEX IPK_InvoiceLine ON InvoiceLine(InvoiceLineId);
GO

CREATE INDEX IFK_Artist_Album ON Album(ArtistId);
GO
CREATE INDEX IFK_Album_Track ON Track(AlbumId);
GO
CREATE INDEX IFK_MediaType_Track ON Track(MediaTypeId);
GO
CREATE INDEX IFK_Genre_Track ON Track(GenreId);
GO
CREATE INDEX IEmployee_ReportsTo ON Employee(ReportsTo);
GO
CREATE INDEX IFK_Customer_Invoice ON Invoice(CustomerId);
GO
CREATE INDEX IFK_Employee_Invoice ON Invoice(EmployeeId);
GO
CREATE INDEX IFK_ProductItem_InvoiceLine ON InvoiceLine(TrackId);
GO
CREATE INDEX IFK_Invoice_InvoiceLine ON InvoiceLine(InvoiceId);
GO

/*******************************************************************************
   Populate Tables
********************************************************************************/
INSERT INTO Genre (Name) VALUES (N'Rock');
INSERT INTO Genre (Name) VALUES (N'Jazz');
INSERT INTO Genre (Name) VALUES (N'Metal');

INSERT INTO MediaType (Name) VALUES (N'MPEG audio file');
INSERT INTO MediaType (Name) VALUES (N'Protected AAC audio file');
INSERT INTO MediaType (Name) VALUES (N'Protected MPEG-4 video file');

INSERT INTO Artist (Name) VALUES (N'AC/DC');
INSERT INTO Artist (Name) VALUES (N'Accept');
INSERT INTO Artist (Name) VALUES (N'Aerosmith');

INSERT INTO Album (Title, ArtistId) VALUES (N'For Those About To Rock We Salute You', 1);
INSERT INTO Album (Title, ArtistId) VALUES (N'Balls to the Wall', 2);
INSERT INTO Album (Title, ArtistId) VALUES (N'Restless and Wild', 2);

INSERT INTO Track (Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice) VALUES (N'For Those About To Rock (We Salute You)', 1, 1, 1, N'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99);
INSERT INTO Track (Name, AlbumId, MediaTypeId, GenreId, Milliseconds, Bytes, UnitPrice) VALUES (N'Balls to the Wall', 2, 2, 1, 342562, 5510424, 0.99);
INSERT INTO Track (Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice) VALUES (N'Fast As a Shark', 3, 2, 1, N'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99);

INSERT INTO Customer (FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Luís', N'Gonçalves', N'Embraer - Empresa Brasileira de Aeronáutica S.A.', N'Av. Brigadeiro Faria Lima, 2170', N'São José dos Campos', N'SP', N'Brazil', N'12227-000', N'+55 (12) 3923-5555', N'+55 (12) 3923-5566', N'luisg@embraer.com.br');
INSERT INTO Customer (FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Eduardo', N'Martins', N'Woodstock Discos', N'Rua Dr. Falcão Filho, 155', N'São Paulo', N'SP', N'Brazil', N'01007-010', N'+55 (11) 3033-5446', N'+55 (11) 3033-4564', N'eduardo@woodstock.com.br');
INSERT INTO Customer (FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Alexandre', N'Rocha', N'Banco do Brasil S.A.', N'Av. Paulista, 2022', N'São Paulo', N'SP', N'Brazil', N'01310-200', N'+55 (11) 3055-3278', N'+55 (11) 3055-8131', N'alero@uol.com.br');

INSERT INTO Employee (LastName, FirstName, Title, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Adams', N'Andrew', N'General Manager', '1962/2/18', '2002/8/14', N'11120 Jasper Ave NW', N'Edmonton', N'AB', N'Canada', N'T5K 2N1', N'+1 (780) 428-9482', N'+1 (780) 428-3457', N'andrew@chinookcorp.com');
INSERT INTO Employee (LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Edwards', N'Nancy', N'Sales Manager', 1, '1958/12/8', '2002/5/1', N'825 8 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 2T3', N'+1 (403) 262-3443', N'+1 (403) 262-3322', N'nancy@chinookcorp.com');
INSERT INTO Employee (LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email) VALUES (N'Peacock', N'Jane', N'Sales Support Agent', 2, '1973/8/29', '2002/4/1', N'1111 6 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 5M5', N'+1 (403) 262-3443', N'+1 (403) 262-6712', N'jane@chinookcorp.com');

INSERT INTO Invoice (CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode) VALUES (8, '2006/1/1', N'1 Microsoft Way', N'Redmond', N'WA', N'USA', N'98052-8300');
INSERT INTO Invoice (CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode) VALUES (7, '2006/1/2', N'1600 Amphitheatre Parkway', N'Mountain View', N'CA', N'USA', N'94043-1351');
INSERT INTO Invoice (CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode) VALUES (5, '2006/1/4', N'8210 111 ST NW', N'Edmonton', N'AB', N'Canada', N'T6G 2C7');

INSERT INTO InvoiceLine (InvoiceId, TrackId, UnitPrice, Quantity) VALUES (1, 2113, 0.99, 1);
INSERT INTO InvoiceLine (InvoiceId, TrackId, UnitPrice, Quantity) VALUES (2, 2711, 0.99, 1);
INSERT INTO InvoiceLine (InvoiceId, TrackId, UnitPrice, Quantity) VALUES (2, 3112, 0.99, 1);


GO