<#@ template hostspecific="True"#>
<#@ output extension="sql" #>
<#
this.Host.SetOutputEncoding(System.Text.Encoding.UTF8, false);

var options = new { 
					AutoIncrement = false,
					SetupDatabase = true,
					ServerName = "SQL Server",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sql"
				  };
#>
<#@ include file="..\..\T4Templates\CreateDB_SqlServer.ttinclude" #>