<#@ template hostspecific="True"#>
<#@ output extension="sql" #>
<#
var options = new { 
					AutoIncrement = true,
					SetupDatabase = true,
					ServerName = "SQL Server",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sql"
				  };
#>
<#@ include file="..\..\_T4Templates\CreateDB_SqlServer.ttinclude" #>
