<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChinookSqlServer" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=SSPI;Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="ChinookMySql" connectionString="Server=localhost;Database=Chinook;Uid=root;Pwd=passwd;"/>
    <add name="ChinookOracle" connectionString="Provider=msdaora;Data Source=xe;User Id=chinook;Password=passwd;"/>
  </connectionStrings>
</configuration>