<#@ template debug="true" hostspecific="True"#>
<#@ output extension="sqlce" #>
<#
var options = new { 
					AutoIncrement = true,
					SetupDatabase = false,
					ServerName = "SQL Server Compact",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sqlce"
				  };
#>
<#@ include file="..\..\_T4Templates\CreateDB_SqlServer.ttinclude" #>
