<#@ template debug="true" hostSpecific="true" #>
<#@ output extension="sqlce" #>
<#
var options = new { 
					AutoIncrement = false,
					SetupDatabase = false,
					ServerName = "SQL Server Compact",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sqlce"
				  };
#>
<#@ include file="..\..\_T4Templates\CreateDB_SqlServer.ttinclude" #>
