<#@ template hostspecific="True"#>
<#@ output extension="sqlce" #>
<#
this.Host.SetOutputEncoding(System.Text.Encoding.UTF8, false);

var options = new { 
					AutoIncrement = true,
					SetupDatabase = false,
					ServerName = "SQL Server Compact",
					FileName = Path.GetFileNameWithoutExtension(Host.TemplateFile) + ".sqlce"
				  };
#>
<#@ include file="..\..\T4Templates\CreateDB_SqlServer.ttinclude" #>